.col-6 {
  padding: 0 10px;
}
.container {
  padding: 0;
  margin: 0;
}
.content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.rc-slider {
  margin: 25px 0;
}
.rc-slider-track {
  height: 6px;
  background-image: linear-gradient(to right, #00a657, #68c157, #89ca57, #bfd857);
}
.rc-slider-handle {
  margin-left: -13px;
  margin-top: -12px;
  width: 28px;
  height: 28px;
  border: none;
  background-color: #004b35;
}
.rc-slider-handle::after {
  content: '< >';
  color: #fff;
  font-size: 10px;
  position: relative;
  left: 6px;
  top: -1px;
}
.rc-slider-rail {
  background-color: #e6e8ec;
  height: 6px;
}

.textInput,
.textInput:focus {
  color: #004b35;
  font-size: 14px;
  border: 1px solid #004b35;
  text-align: center;
}

.textInput:focus {
  border: none;
  box-shadow: none;
}
