.container {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.btn {
}

.btn-secondary,
.btn-secondary:hover {
  background-color: #fff;
  border-color: #d1ebbd;
  color: #006a4d;
  min-width: 200px;
}
.btn-secondary {
  font-size: 14px;
  border: 1px solid #d1ebbd;
  box-shadow: 3px 3px #69be28;
  margin: 0 3px 3px 0;
}
